Package: com.matdev.neofetch-ios
Name: neofetch-ios
Depends: bash (>= 3.2), coreutils (>= 8.12-12p), coreutils-bin (>= 8.30-3), grep (>= 2.5.4-3), darwintools (>=1-7), system-cmds (>=805.220.1-3), gawk (>= 4.2.1), grep (>= 3.4)
Version: 0.1.1
Architecture: iphoneos-arm
Description: neofetch for iOS. To use, open your preffered terminal and simply type "neofetch". Uses neofetch 6.0.0 and is tested to work on iOS 10-12.4
Section: Utilities
Maintainer: MatDev
Author: MatDev
