Package: com.matdev.neofetch-ios
Name: NeoFetch-iOS
Depends: bash (>= 3.2), coreutils (>= 8.12-12p), coreutils-bin (>= 8.12-9), grep (>= 2.5.4-3), darwintools (>=1-5), system-cmds (>=433.8-14), gawk (>= 3.1.6-2p), firmware (>= 10.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: NeoFetch for iOS. Display system information in command-line!
Section: Tweaks
Maintainer: MatDev
Author: MatDev
